<!DOCTYPE html>
<html lang="fr-FR" dir="ltr">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <title>ChezBobo | Landing</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://kit.fontawesome.com/1b1fa6fbda.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% header title %}
        <main class="main landing__main">
            {% title landingTitle %}
            <section>
                <p>L'API qui met à votre disposition les données relatives aux plats</p>
            </section>
        </main>
    </body>

</html>


