:root {
  --primary-color: rgb(220, 197, 238);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 8px 10px;
  box-shadow: 0 0 5px;
  transition: all ease-in-out 300ms;
  background-color: var(--primary-color);
  &:hover {
    transform: translateY(2px);
    cursor: pointer;
  }
}

article {
  display: flex;
  flex-direction: column;

  input {
    padding-block: 10px;
  }
}

header {
  opacity: 0;
  animation: show-down 1000ms ease-in-out forwards;
}

nav {
  opacity: 0;
  animation: show-left 1000ms ease-in-out 1000ms forwards;
}

a {
  text-decoration: none;
  color: #000;
  transition: all ease-in-out 300ms;

  &:hover {
    color: #fff;
  }
}

body > header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  height: 8vh;
  padding: 10px;
}

main {
  min-height: 100vh;
  display: flex;
  padding-top: 8vh;
}

#login-form {
  opacity: 0;
  animation: show-up 1000ms ease-in-out 1.5s forwards;
}

.login-main {
  align-items: center;
  justify-content: center;
}

video,
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  z-index: -2;
  inset: 0;
}

.landing-main {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    margin-block: 20px;
    align-self: center;
    border: solid #000 1px;
    padding: 10px;
    animation: scale-up 1000ms ease-in-out backwards;
    color: #fff;
  }

  section {
    width: 50%;
    align-self: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    animation: show-down 1000ms ease-in-out backwards;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 9cm;
  border: solid #000 1px;

  section:has(button) {
    display: flex;
    justify-content: space-between;
  }

  input {
    accent-color: var(--primary-color);
  }

  article {
    margin-block: 10px;
  }
}

/* sélecteur d'identifiant ave #*/
#email,
#password {
  &:valid {
    outline: var(--primary-color);
  }

  &:invalid {
    outline: rgb(225, 0, 0) solid 1px;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.error-message {
  opacity: 0;
  animation: show-right 1000ms ease-in-out forwards;
}
